.button{
    padding: 5px 15px;
    border: 2px solid aquamarine;
    border-radius: 5px;
    margin: 5px;
}

.input{
    margin: 5px 5px 5px 5px;
    width: 70%;
    padding: 5px 15px;
    border: 2px solid aquamarine;
}
.select{

}
.container{
    border: 2px solid aquamarine;
    width: 80vw;
    margin: auto;
}

.post{
    border: 2px solid aquamarine;
    margin: 5px 5px 5px 5px;
    cursor: pointer;
}

.id{
}

.title{

}

.body{

}